include layouts/head
doctype html
html(lang="en")
  block head
    head
      +head({
        "title": "Mad location manager",
				"author": "MadDevs",
				"description": "Error filter GPS sensors"
      })
  body
    //- ///////////////////////Code////////////////////////
    script.
      var userLang = navigator.language || navigator.userLanguage;
      
      if (userLang == 'ru') {
        window.location.href = window.location.href + "ru";
      } else {
        window.location.href = window.location.href + "en";
      }
    //- //////////////////// End Code /////////////////////