include layouts/head
doctype html
html(lang="en")
  block head
    head
      +head({
        "title": "Mad Location Manager - Accurate and «pure» Data from GPS-receivers",
				"author": "Mad Devs",
				"description": "Mad Location Manager helps you to reduce GPS data error for a taxi and courier applications. It also can be used for tracking in on-demand services."
      })
      meta(property='og:url', content='https://gps.maddevs.io')
      meta(property='og:type', content='website')
      meta(property='og:title', content='Mad Location Manager - Accurate and «pure» Data from GPS-receivers')
      meta(property='og:description', content='Mad Location Manager helps you to reduce GPS data error for a taxi and courier applications. It also can be used for tracking in on-demand services.')
      meta(property='og:image', content='https://gps.maddevs.io/en/img/preview_f.png')
  body
    //- ///////////////////////Code////////////////////////
    script.
      var userLang = navigator.language || navigator.userLanguage;
      
      if (userLang == 'ru') {
        window.location.href = window.location.href + "ru";
      } else {
        window.location.href = window.location.href + "en";
      }
    //- //////////////////// End Code /////////////////////